body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

h3 {
    color: rgb(235, 200, 200);
    font-size: 18px;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

.yes {
    background-color: #e70c1f;
    color: white;
}

.no {
    background-color: #e70c1f;
    color: white;
}

.no-moving {
    position: absolute;
}
